{{#details}}
<div id="alert-area-{{ name }}"></div>
<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i></a>
        <ul id="menu1" class="dropdown-menu">
            {{^experimental}}
            <li><a href="#" id="action-enable-experimental-{{ name }}"><i class="icon-off"></i> Enable experimental</a></li>
            {{/experimental}}

            {{#experimental}}
            <li><a href="#" id="action-disable-experimental-{{ name }}"><i class="icon-off"></i> Disable experimental</a></li>
            {{/experimental}}
            <li><a href="#" id="action-clear-{{ name }}"><i class="icon-refresh"></i> Clean local files</a></li>
            <li class="divider"></li>
            <li><a href="#" id="action-delete-{{ name }}"><i class="icon-trash"></i> Delete project</a></li>
        </ul>
    </div>


    <div class="btn-group">
        <div class="btn disabled"><b>group:</b> {{ group_name }} </div>
        <div class="btn disabled"><b>last commit:</b> {{ last_commit }} </div>
        <div class="btn disabled"><b>branches:</b> {{ branch }} </div>
    </div>
</div>

    <table class="table table-stripped tablesorter">
    <thead>
        <tr>
            <th>Date</th>
            <th>Version</th>
            <th>Release</th>
            <th>Build #</th>
            <th>Log</th>
        </tr>
    </thead>
    <tbody>
        {{#builds}}
        <tr>
            <td> {{date}} </td>
            <td> {{version}} </td>
            <td> {{release}} </td>
            <td> {{build}} </td>
            <td class="build-log"> <a id="build-log-show" build_id="{{build}}" href="javascript:">{{log}}</a></td>
        </tr>
        {{/builds}}
    </tbody>
</table>
{{/details}}
