{{#details}}
<strong>group:</strong> {{ group_name }} <br>
<strong>last commit:</strong> {{ last_commit }}
    <table class="table table-stripped tablesorter">
    <thead>
        <tr>
            <th>Date</th>
            <th>Version</th>
            <th>Release</th>
            <th>Build #</th>
            <th>Log</th>
        </tr>
    </thead>
    <tbody>
        {{#builds}}
        <tr>
            <td> {{date}} </td>
            <td> {{version}} </td>
            <td> {{release}} </td>
            <td> {{build}} </td>
            <td class="build-log"> <a id="build-log-show" build_id="{{build}}" href="javascript:">{{log}}</a></td>
        </tr>
        {{/builds}}
    </tbody>
</table>
{{/details}}
