{{#details}}
<br>
<div class="btn-group">
    <div class="btn"><b>group:</b> {{ group_name }} </div>
    <div class="btn"><b>last commit:</b> {{ last_commit }} </div>
    <div class="btn"><b>branches:</b> {{ branch }} </div>
<div>

    <table class="table table-stripped tablesorter">
    <thead>
        <tr>
            <th>Date</th>
            <th>Version</th>
            <th>Release</th>
            <th>Build #</th>
            <th>Log</th>
        </tr>
    </thead>
    <tbody>
        {{#builds}}
        <tr>
            <td> {{date}} </td>
            <td> {{version}} </td>
            <td> {{release}} </td>
            <td> {{build}} </td>
            <td class="build-log"> <a id="build-log-show" build_id="{{build}}" href="javascript:">{{log}}</a></td>
        </tr>
        {{/builds}}
    </tbody>
</table>
{{/details}}
