body { 
    padding-top: 40px;
}

#content p {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    font-size: 12px;
}

a.name {
  color: #111;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

tr.project td {
    overflow: hidden;
}

.tags {
    color: #aaa;
    font-weight: bold;
    float: right;
    list-style: none;
    margin-top: -80px;
}

.build-log a {
    color: #999;
}

.groups a {
    color: #999;
}

.name a {
    text-decoration: none;
}

.details {
    display: none;
    clear: both;
    color: #999;
    font-size: 12px;
}

.details {
    margin-bottom: 10px;
}

.projects-list {
    border-top: 0px;
}

span {
    color: #999;
    font-size: 12px;
}

.ui-dialog .ui-state-error { padding: .3em; }

div.scroll {
    height: 400px;
    width: auto;
    overflow: auto;
    padding: 8px;
}

#create {
    float: right;
    margin-top: -40px;
}
